
body{
    padding: 20px;
}

input, button{
    padding: 5px;
    height: 40px;
}

.bold{
    font-weight: 700;
    font-size: large;
}

.flex{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
}

.border{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    background: black;
    color: #fff;
}

.border:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

/* 2 */
.excersize-two__arguments{
    height: 40px;
}

